.aboutme-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    height: auto;
}

.bold-blue-link{
    color:#0061c9; 
    font-weight: 700;
    font-size: 16px;
  }

.photocv-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: auto;
    padding-right: 0px;
    margin-bottom: 20px;
}

.myphoto {
    position: relative;
    width: 100%;  
    border-radius: 10px;
}

.about-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(180deg, rgba(4,48,100,0.5) 35%, rgb(1, 23, 48) 100%);
    border-radius: 10px;
}

.myphoto:hover .overlay {
    opacity: 1;
  }

.text {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.aboutme-text {
    font-family: 'Open Sans', 'sans-serif';
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px rgba(235,235,235,1);
    border: #FFFFFF solid 1px;
    padding: 10px;
    height: 100%;
    width: auto;
}

.my-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.my-icons {
    margin-left: 20px;
    width: 40px;
    height: auto;
}

.my-icons-born {
    margin-left: 52px;
    width: 40px;
    height: auto;
}

.my-icons-love {
    margin-left: 30px;
    width: 40px;
    height: auto;
}

.my-icons-hobbies {
    margin-left: 22px;
    width: 40px;
    height: auto;
}


.my-info p {
    margin-bottom: 0px;
}

.margin-top{
    margin-top: 20px;
}

.margin-left {
    margin-left: 50px;
}

p.margin-right {
    margin-right: 30px;
}

.margin-bottom {
    margin-bottom: 0px;
}

.contact-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.cv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: 0 auto;
} 

.contact-button {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #0061c9;  
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    border: #FFFFFF 1px solid;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px; /* Rounded corners */
  }
 
 
 
 /******************************************** TABLET ********************************************/
@media screen and (min-width: 767px) and (max-width: 990px) {

    .aboutme-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 70px 25px 70px 25px;
        width: auto;
        height: auto;
    }
    
    .photocv-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        width: auto;
        padding-right: 0px;
        margin-bottom: 20px;
    }
    
    .myphoto {
        position: relative;
        width: 100%;  
        border-radius: 10px;
    }
    
    .about-image {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background: linear-gradient(180deg, rgba(4,48,100,0.5) 35%, rgb(1, 23, 48) 100%);
        border-radius: 10px;
    }
    
    .myphoto:hover .overlay {
        opacity: 1;
      }
    
    .text {
        color: white;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    
    .aboutme-text {
        background: #FFFFFF;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 0px rgba(235,235,235,1);
        border: #FFFFFF solid 1px;
        padding: 25px;
        height: 90%;
        width: auto;
    }
    
    .my-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .my-icons {
        margin-left: 20px;
        width: 40px;
        height: auto;
    }
    
    .my-icons-born {
        margin-left: 52px;
        width: 40px;
        height: auto;
    }
    
    .my-icons-love {
        margin-left: 30px;
        width: 40px;
        height: auto;
    }
    
    .my-icons-hobbies {
        margin-left: 22px;
        width: 40px;
        height: auto;
    }
    
    .my-info p {
        margin-bottom: 0px;
    }
    
    .margin-top{
        margin-top: 20px;
    }
    
    .margin-left {
        margin-left: 50px;
    }
    
    p.margin-right {
        margin-right: 30px;
    }
    
    .margin-bottom {
        margin-bottom: 0px;
    }
    
    .contact-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .cv {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin: 20px auto;
    }
}
 /******************************************** MEDIUM DEVICES - larger than 991 px ********************************************/

@media screen and (min-width: 991px) {
    .aboutme-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 50px 40px 50px 40px;
        width: auto;
        height: 100%;
    }
    
    .photocv-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        width: auto;
        padding-right: 0px;
        margin-bottom: 20px;
    }
    
    .myphoto {
        position: relative;
        width: 100%;  
        border-radius: 10px;
    }
    
    .about-image {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background: linear-gradient(180deg, rgba(4,48,100,0.5) 35%, rgb(1, 23, 48) 100%);
        border-radius: 10px;
    }
    
    .myphoto:hover .overlay {
        opacity: 1;
      }
    
    .text {
        color: white;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    
    .aboutme-text {
        background: #FFFFFF;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 0px rgba(235,235,235,1);
        border: #FFFFFF solid 1px;
        padding: 25px;
        height: 100%;
        width: auto;
    }
    
    .my-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .my-icons {
        margin-left: 20px;
        width: 40px;
        height: auto;
    }
    
    .my-icons-born {
        margin-left: 52px;
        width: 40px;
        height: auto;
    }
    
    .my-icons-love {
        margin-left: 30px;
        width: 40px;
        height: auto;
    }
    
    .my-icons-hobbies {
        margin-left: 22px;
        width: 40px;
        height: auto;
    }
    
    .my-info p {
        margin-bottom: 0px;
    }
    
    .margin-top{
        margin-top: 20px;
    }
    
    .margin-left {
        margin-left: 50px;
    }
    
    p.margin-right {
        margin-right: 30px;
    }
    
    .margin-bottom {
        margin-bottom: 0px;
    }
    
    .contact-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .cv {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: auto;
    }
}
 /********************************* LARGE DEVICES - larger than 1200px  **********************************/

 @media screen and (min-width: 1200px) and (max-width: 1499px)
 
 {
.aboutme-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 70px 50px 70px;
    width: auto;
    height: auto;
}

.photocv-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: auto;
    padding-right: 40px;
}

.myphoto {
    position: relative;
    width: 100%;  
    height: auto;
    border-radius: 10px;
}

.about-image {
    display: block;
    width: 100%;
    height: auto;
    max-height: 380px;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(180deg, rgba(4,48,100,0.5) 35%, rgb(1, 23, 48) 100%);
    border-radius: 10px;
}

.myphoto:hover .overlay {
    opacity: 1;
  }

.text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.aboutme-text {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px rgba(235,235,235,1);
    border: #FFFFFF solid 1px;
    padding: 25px;
    height: 100%;
    width: auto;
}

.my-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.my-icons {
    margin-left: 20px;
    width: 40px;
    height: auto;
}

.my-icons-born {
    margin-left: 52px;
    width: 40px;
    height: auto;
}

.my-icons-love {
    margin-left: 30px;
    width: 40px;
    height: auto;
}

.my-icons-hobbies {
    margin-left: 22px;
    width: 40px;
    height: auto;
}

.my-info p {
    margin-bottom: 0px;
}

.margin-top{
    margin-top: 20px;
}

.margin-left {
    margin-left: 50px;
}

p.margin-right {
    margin-right: 30px;
}

.margin-bottom {
    margin-bottom: 0px;
}

.contact-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

 }

/********************************* EXTRA LARGE DEVICES - larger than 1500px  **********************************/

@media screen and (min-width: 1500px) {
    .aboutme-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 70px 50px 70px 50px;
        width: auto;
        max-height: 1000px;
    }
    
    .photocv-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: auto;
        padding-right: 40px;
    }
    
    .myphoto {
        position: relative;
        width: 100%;
        height: auto;  
        border-radius: 10px;
    }
    
    .about-image {
        display: block;
        width: 100%;
        height: auto;
        max-height: 380px;
        max-width: 1200px;
        border-radius: 10px;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background: linear-gradient(180deg, rgba(4,48,100,0.5) 35%, rgb(1, 23, 48) 100%);
        border-radius: 10px;
    }
    
    .myphoto:hover .overlay {
        opacity: 1;
      }
    
    .text {
        color: white;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    
    .aboutme-text {
        background: #FFFFFF;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 0px rgba(235,235,235,1);
        border: #FFFFFF solid 1px;
        padding: 50px 25px 50px 25px;
        height: 100%;
        width: auto;
    }
    
    .my-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .my-icons {
        margin-left: 20px;
        width: 40px;
        height: auto;
    }
    
    .my-icons-born {
        margin-left: 52px;
        width: 40px;
        height: auto;
    }
    
    .my-icons-love {
        margin-left: 30px;
        width: 40px;
        height: auto;
    }
    
    .my-icons-hobbies {
        margin-left: 22px;
        width: 40px;
        height: auto;
    }
    
    .my-info p {
        margin-bottom: 0px;
    }
    
    .margin-top{
        margin-top: 20px;
    }
    
    .margin-left {
        margin-left: 50px;
    }
    
    p.margin-right {
        margin-right: 30px;
    }
    
    .margin-bottom {
        margin-bottom: 0px;
    }
    
    .contact-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .cv {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: auto;
    }
} 

  
  