* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Akkurat', sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  background: #F6F6F6;  
  color:#2E2E30;

/*  overflow-x: hidden; */
}

/****Fonts*****/

h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  color: #6B6C6E;
  font-weight: 700;
  margin-bottom: 18px;
}

h3 {
  font-size: 20px;
  font-weight: 400px;
  margin-bottom: 15px;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 13px;
}

p {
  margin-bottom: 0.5em ; 
  line-height: 1.5em;
  text-decoration: none;
}

h4.superior-margin{
  margin-top: 30px;
}

.logo{
  font-size: 15px;
/*   font-family: 'Akkurat','sans-serif';*/
  margin-bottom: 0em;
/*    margin: 10px 0px 10px 20px;*/
}

p.logo {
  color:#0061c9;
  line-height: 1em;
  margin-bottom: 0em;
}

.logo-small{
  font-size: 14px;
/*    font-family: 'Akkurat','sans-serif';*/
  color:#0061c9;
  font-style: bold;
  margin-bottom: 0em;
}

.bold-black{
  font-weight: bolder;
  text-decoration: none;
  margin-bottom: 0em;
 }

p.logo-small{
  margin-bottom: 0em;
  line-height: 1em;
}

.bold-white{
  font-weight: bold;
}   

.light-text{
  font-weight: 300;
}

.highlight-color{
  color: #0061c9;
  font-weight: bold;
}

.active-color{
  color:#043064;
}

a {
  text-decoration: none;
  color: inherit;
}

.selected-text {
  font-size: 16px;
  color: #0061c9;
  font-weight: bold;
}

.contact-info  p {
  line-height: 0em;
  margin-bottom: 1.5em ; 
}

.quote {
  font-style: italic;
}

.font-gradient {
      color:#008A63;
      font-weight: 700;
}

a.font-gradient {
  color:#008A63;
  font-weight: 700;
}

p.bold-blue-link{
  color:#0061c9; 
  font-weight: 700;
  text-decoration: underline;
  font-size: 16px;
}

p.bold-blue-link:hover{
  color:#043064;
}

.arrow {
  border: solid #0061c9; 
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

p.bold-grey{
  color:#686868; 
  font-weight: 700;
  font-size: 12px;
}

p.bold-blue-link{
  color:#0061c9; 
  font-weight: 700;
  font-size: 16px;
}


p.link {
  color:#0061c9; 
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
  text-align: center;
}

.gallery-text{
  font-size: 14px;
  text-align: center;
}

.introduction{
  font-size: 33px;
  font-weight: bold;
  color:#010936;
  line-height: 50px;
}

.contact{
  font-size: 15px;
  margin-bottom: 0px;
  line-height: 0em;
  margin-right: 20px;
}

p .contact{
  margin-bottom: 0px;
}


/**************/
.container-header {
  display: flex;
  flex-direction: column;
}

/*** Header ****/

.header {
  height: 60px;
  width: 100vw;
  background-color: #F6F6F6;
  padding: 10px 10px 10px 10px;
}

.sticky-header {
position: -webkit-sticky; /* Safari */
position: fixed;
top: 0;
width: 100vw;
z-index: 700;
}

.navigation {
display: flex;
width: 100%;
height: auto;
justify-content: space-between;
align-items: flex-start;
margin: 0 auto;
}

nav ul.home-navigation {
list-style: none;
display: flex;
align-items: flex-start;
justify-content: space-between;
font-family: 'Akkurat', sans-serif;
font-size: 15px;
font-weight: 300;
color:#0061c9;
width: 100%;
}

.desktop-menu-projects{
  display:none
}

.home-navigation a:hover{
 color: #043064; 
 font-weight: 700;
}

.home-navigation a:active {
 color: #043064; 
 font-weight: 700;
}  

.right-navigation {
  display: flex;
  justify-content: flex-end;
}
.space-right {
  margin-right: 20px;
}

/******/

.menu {
  margin-top: -2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  color: #0061c9;
  font-size: 35px;
  position: absolute;
  opacity: 0.9;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%);
  transform: translateX(-100vw);
  transition: all 400ms ease-in-out;
  overflow: hidden;
  background-size: auto;
  z-index: 2000;
}

li.menu-options {
    margin-bottom: 40px;
}

.menu a {
  color:#0061c9;
  font-family: 'Akkurat', sans-serif;
  text-decoration: none;
  font-size: 30px;
}

.menu a:hover{
  color: #043064;
  font-weight: 700;
}
.menu a:active {
  color: #043064;
  font-weight: 700;
}

.menu-open {
  transform: translateX(0);
  transition: all 400ms ease-in-out;
  overflow: hidden;
  z-index: 100;
  position: absolute;

}

.menu-icon {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 101;
}

/* burger icon*/

.gg-menu {
  transform: scale(var(--ggs,1))
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
  color:  #043064;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 3px;
  background: currentColor
}
.gg-menu::after,
.gg-menu::before {
  content: "";
  position: absolute;
  top: -6px
}
.gg-menu::after {
  top: 6px
}

/* close menu icon*/

.gg-close {
  color:#043064;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: -2px;
  left: 0px;
}

.gg-close::after {
  transform: rotate(-45deg);
}

.gg-menu-left {
  transform: scale(var(--ggs,1))
}
.gg-menu-left,
.gg-menu-left::after,
.gg-menu-left::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor
}
.gg-menu-left::after,
.gg-menu-left::before {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px
}
.gg-menu-left::after {
  top: 6px;
  width: 14px
}
/********/


.home-titles{
  font-size: 12px;
  font-weight: 700;
  margin-bottom:3px;
  line-height: 1em;
}

/**** Main section styles ****/


/* Styles of the project category boxes*/
.project-info { 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Akkurat', sans-serif;
  font-size: 10px;
  font-weight: 400;
/*  margin-bottom: 5px;*/
  
}

.tools-info{
  margin-bottom: 2px;
  margin-top: 2px;
}

.category-icons {
  margin-right: 5px;
  margin-bottom: 10px;
}

.button {
  margin-top: 10px;
  background: #0061c9;  
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  border: #FFFFFF 1px solid;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px; /* Rounded corners */
}

.button:active {
background-color: #043064;
/* box-shadow: 0 5px #666;*/
}
.button:hover {
  background-color: #043064;
  /* box-shadow: 0 5px #666;*/
}

.button-primary{
  margin-top: 10px;
    background: #0061c9;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    border: #FFFFFF 1px solid;
    padding: 16px 16px;
    cursor: pointer;
    border-radius: 6px;
    /* Rounded corners */
}

.button-primary:active {
  background-color: #043064;
  /* box-shadow: 0 5px #666;*/
}

.button-primary:hover {
  background-color: #043064;
  /* box-shadow: 0 5px #666;*/
}
.button-secondary{
  margin-top: 10px;
    background: #0061c9;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    border: #FFFFFF 1px solid;
    padding: 16px 16px;
    cursor: pointer;
    border-radius: 6px;
    /* Rounded corners */
    max-width: 170px;
    margin-bottom: 16px;
}

/**Button project**/
.button-project {
  background: #0061c9;  
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  border: #FFFFFF 1px solid;
  padding: 12px 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 6px; /* Rounded corners */

}

.button-project:hover {
  background-color: #043064;
  /* box-shadow: 0 5px #666;*/
}

.button-project:active {
background-color: #043064;
/* box-shadow: 0 5px #666;*/
}

/**Button next**/
.button-next {
background: #0061c9;  
color: #FFFFFF;
font-weight: 400;
font-size: 14px;
border: #FFFFFF 1px solid;
padding: 15px 20px;
cursor: pointer;
text-align: center;
border-radius: 6px; /* Rounded corners */
}

.button-next:active {
background-color: #043064;
/* box-shadow: 0 5px #666;*/
transform: translateY(4px);
}
.button-next span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: 20vw;
transition: 0.5s;
}


/*** Back to top ****/
#myBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 2; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(255,255,255,0);  
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 3px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

.backtotop {
    height: 30px;
    width: auto;
}

/*** Footer styles ****/

.footer {
  font-family: 'Akkurat', sans-serif;
  line-height: 1em;
/*  height: 65px;*/
  font-size: 12px;
  font-weight: 400px;
  margin: 30px 0px 0px 0px;
  background: #FFFFFF;
  width: 100%;
  margin: 30px 0px 0px 0px;
  padding: 30px 10px 30px 10px;
}

.footer-info {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 0px;
/*   height: 65px;*/
}

.contact-info{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 10px 10px 15px 10px;
}

p.margin-bottom{
  margin-bottom: 0; 
}


.social-media {
  display:flex;
  justify-content: space-between;
  margin-left: 1px;
}

.social-media-images {
  padding: 10px;
  width: 43px;
  height: 42px;
}

.social-media-images-right{
  padding-right: 0;
}

.margin-down{
margin-bottom: 30px;
}

h3.margin-top{
margin-top: 50px;
}

.margin-top {
margin-top: 30px;
} 

p.copyright-notice{
font-size: 12px;
text-align: center;
margin-top: 20px;
margin-bottom: 10px;
}

h3.space{
margin-top: 30px;
}

h2.space{
margin-top: 30px;
}

h2.less-margin{
margin-top: 0px;
}

/*** Projects ****/
/* Project title */

.project-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
/*   font-weight: 700;*/
  padding: 15px;
  margin: 0 0 50px 0px;
}

.project-title > h1 {
  margin-bottom: 0em;
}

.subtitle{
  font-size: 25px;
  font-weight: 300;
}

/* Project Description */

.project-description-box
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; 
  padding: 30px 15px 30px 15px;
  background: rgba(0, 97, 201, 0.2);
  height: 380px;
  text-align: left;
  line-height: 1.5em;
}

.project-description-box p{
  font-family: 'Akkurat', sans-serif;
}

.project-tag-boxes{
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 10px;
}

.project-category-tags {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  padding: 4px;
  margin: 0 10px 0 0;
  border: 1px solid #2E2E30;
}

p.tools-used {
  margin-bottom: 10px;
}

.project-info {
  font-size: 14px;
}

.tools-info {
  margin-bottom: 10px;
}

/* Progress Bar */

#progress-status {
  margin: 50px auto 0 auto;
  width: 100%;
  height: 4px;
  z-index: 800;
}

#my-bar {
  width: 8%;
  height: 4px;
  background-color: #0061c9;
}

.sticky-bar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
}

/**** Project information section - MAIN CONTAINER ****/

.project-information-section {
  display: flex;
  flex-direction: column;
  margin: 30px 5px 50px 5px;
  padding:15px;

}

.project-information-section p{
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* Navigation box inside projects */

.sticky-menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 10vh;
  width: auto;
  z-index: 10;
}

.sticky-menu-mobile .mobile-menu-container {
  height:10vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  margin: 20px auto 0 20px;
  cursor: pointer;
}

.dropbtn { 
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  border: none;
  border: solid 1px #0061c9; 
  font-size: 14px;
  font-family: 'Akkurat';
  min-width: 30px;
  font-weight: 400;
  background: #0061c9;  
  color: #FFFFFF;
  cursor: pointer;
} 

.dropbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.dropbtn span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.dropbtn:hover span {
  padding-right: 25px;
}

.dropbtn:hover span:after {
  opacity: 1;
  right: 0;
}

.light-items {
  font-weight: 300;
}

.padding-right {
  padding: 0 10px 0 0;
}

.dropdown-content {  
  display:none;  
  position: absolute;
  background: #FFFFFF;
  text-align: center;
  min-width: 300px;
  box-shadow: 2px 2px 10px 0px rgba(235,235,235,1);
  z-index: 30;
  top: 50px;
  cursor: pointer;
}

.dropdown-content a {
  color: #2E2E30;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background:#0061c9;
  color: #FFFFFF;
  cursor: pointer;
}  

.mobile-menu-container:hover .dropdown-content {display: block; cursor: pointer;}
.mobile-menu-container:hover .dropbtn {
  background: #043064;
  color: #FFFFFF;
  cursor: pointer;
}

.show {display:block;}

/*Down arrow*/
.gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 20px;
  border: 2px solid transparent;
 border-radius: 100px
}
.gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 0px;
  top: 0px
}
/**arrow up**/
.gg-chevron-up {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
}
.gg-chevron-up::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  bottom: 2px
}

.desktop-menu-container {
  display: none;
}

p.selected-text {
  margin-bottom: 0;
}

.next-project {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10px;
  margin-bottom: 20px;
}

.active {
  color: #0061c9;
  font-weight: 700;
}

.prototype{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Slide show container*/
.slideshow-container {
  width: 310px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color:#2E2E30;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 3px 3px 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(46, 46, 48, 0.2);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #2E2E30;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#userflow {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#userflow:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px;
  left: 0;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #F6F6F6;  /* Fallback color */
  background-color: #F6F6F6;  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 100vw;
}

/* Add Animation */
.modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 30px;
  color: #007cff;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #007cff;
  text-decoration: none;
  cursor: pointer;
}

.close-testing {
  position: absolute;
  top: 15px;
  right: 30px;
  color: #007cff;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.close-testing:hover,
.close-testing:focus {
  color: #007cff;
  text-decoration: none;
  cursor: pointer;
}

.close-first {
  position: absolute;
  top: 15px;
  right: 30px;
  color: #007cff;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.close-first:hover,
.close-first:focus {
  color: #007cff;
  text-decoration: none;
  cursor: pointer;
}

.close-second {
  position: absolute;
  top: 15px;
  right: 30px;
  color: #007cff;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.close-second:hover,
.close-second:focus {
  color: #007cff;
  text-decoration: none;
  cursor: pointer;
}

.close-third {
  position: absolute;
  top: 15px;
  right: 30px;
  color: #007cff;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.close-third:hover,
.close-third:focus {
  color: #007cff;
  text-decoration: none;
  cursor: pointer;
}

.close-fourth {
  position: absolute;
  top: 15px;
  right: 30px;
  color: #007cff;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.close-fourth:hover,
.close-fourth:focus {
  color: #007cff;
  text-decoration: none;
  cursor: pointer;
}

.userflow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto 30px auto;
  width: 100%;
}

.userflow-image {
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.userflow-image-big {
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#testresults {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#img02{
   margin-top: 100px;
}
/*******************/

/******************************************** TABLET ********************************************/
@media screen and (min-width: 767px) and (max-width: 990px) {

p.bold-grey{
  color:#686868; 
  font-weight: 700;
  font-size: 12px;
}

p.bold-blue-link{
  color:#0061c9; 
  font-weight: 700;
  font-size: 16px;
}

.introduction{
  font-size: 40px;
  font-weight: 700;
  color:#010936;
  line-height: 60px;
}

.contact{
  font-size: 20px;
  margin-bottom: 0px;
  line-height: 0em;
  margin-right: 20px;
}

p .contact{
  margin-bottom: 0px;
}

/******/
.header {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 65px;
  width: 100vw;
  background-color: #F6F6F6;
  padding: 20px 20px 20px 20px;
}

.navigation {
display: flex;
width: 100%;
height: auto;
justify-content: space-between;
align-items: flex-start;
margin: 0 auto;
}

.desktop-menu-projects{
  display:none
}

.menu-icon {
right: 25px;
}

.tools-info{
margin-bottom: 10px;
margin-top: 10px;
}  

.contact-info{
  margin-bottom: 20px;
}
/** Footer **/
.footer {
padding: 40px 20px 20px 20px;
height: 200px;
font-size: 16px;
margin: 0 auto;
}
.footer-info {
height: 70px;
}

/**Button project**/
.button-project {
background: #0061c9;  
color: #FFFFFF;
font-weight: 400;
font-size: 14px;
border: #FFFFFF 1px solid;
padding: 15px 20px;
cursor: pointer;
text-align: center;
border-radius: 6px; /* Rounded corners */
}

.button-project:hover {
  background-color: #043064;
  /* box-shadow: 0 5px #666;*/
}

.button-project:active {
background-color: #043064;
/* box-shadow: 0 5px #666;*/
}
  /**Button next**/
.button-next {
background: #0061c9;  
color: #FFFFFF;
font-weight: 400;
font-size: 14px;
border: #FFFFFF 1px solid;
padding: 15px 20px;
cursor: pointer;
text-align: center;
border-radius: 6px; /* Rounded corners */
}

.button-next:active {
background-color: #043064;
/* box-shadow: 0 5px #666;*/
transform: translateY(4px);
}
.button-next span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: 20vw;
transition: 0.5s;
}
/****** Projects ********/

/********* Project title *******/
  
.project-title {
  margin: 0 0 50px 35px;
  padding: 0px;
  width: 80%;
}
  
.project-title > h1 {
  margin-bottom: 0.2em;
}

.subtitle{
  font-size: 30px;
  font-weight: 300;
}
  
/********* Project Description *******/
  
.project-description-box
{
  padding: 30px 35px 30px 35px;
  height: 340px;
  line-height: 2em;
}
  
.project-tag-boxes{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
   margin-bottom: 17px;
}
  
.project-category-tags {
  display: flex;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  margin: 0 20px 0 0;
}
  
.project-info {
  font-size: 16px;
}

.slideshow-container {
  width: 310px;
  position: relative;
  margin: auto;
}
  
/********* Project information section - MAIN CONTAINER *******/
  
.project-information-section {
  margin: 30px 20px 50px 20px;
  padding:15px;
}
  
/* Navigation box inside projects */
  
.mobile-navigation-box {
  margin: 50px 35px 0px 35px;
  height: 60px;
  width: 70%;
}
  
.navigation-icon {
  margin-left: 40px;
}

.next-project {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-right: 25px;
      margin-bottom: 50px;
}

.sticky-menu-mobile .mobile-menu-container {
  margin: 20px auto 0 25px;
}

/*User flows*/

.userflow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto 30px auto;
}

.userflow-image {
  width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.userflow-image-big {
  height: 450px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/********************/

p.copyright-notice{
  font-size: 14px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
}
}

/******************************************** MEDIUM DEVICES - larger than 991 px ********************************************/

@media screen and (min-width: 991px) and (max-width: 1199px){

  h4.superior-margin{
    margin-top: 40px;
  }
  

  p.bold-grey{
    color:#686868; 
    font-weight: 700;
    font-size: 16px;
  }
  p.bold-blue-link{
    color:#0061c9; 
    font-weight: 700;
    font-size: 18px;
  }
  
  /*******Fonts********/
  h1 {
    font-size: 45px;
    margin-bottom: 35px;
}

h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;

}

h4 {
    font-size: 22px;
    margin-bottom: 15px;

}
.logo{
    font-size: 18px;
    margin-bottom: 0em;
/*    margin: 10px 0px 10px 20px;*/
}

p.logo {
    color:#0061c9;
    line-height: 1em;
    margin-bottom: 0em;
}

.logo-small{
    font-size: 16px;
    color:#0061c9;
    font-style: bold;
    margin-bottom: 0em;
}

.bold-black{
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 0em;
   }

p.logo-small{
    margin-bottom: 0em;
    line-height: 1em;
}

.introduction{
    font-size: 45px;
    font-weight: 700;
    color:#010936;
    line-height: 80px;
}

.contact{
    font-size: 22px;
    margin-bottom: 0px;
    line-height: 0em;
    margin-right: 20px;
}

p .contact{
    margin-bottom: 0px;
}
  /********/
  .header {
      display: block;
      margin: 30px 50px 30px 50px;
      padding: 0px;
      height: 70px;
      width: auto;
  }

  .sticky-header {
      position: static;
      width: auto;
    }

  .navigation {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 auto;
  }

  nav ul.home-navigation {
     list-style: none;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     font-family: 'Akkurat', sans-serif;
     font-size: 18px;
     font-weight: 300;
     color:#0061c9;
  }

  .space-right {
    margin-right: 50px;
  }

  .mobile-menu-projects{
    display:none
  }

  .desktop-menu-projects{
    display:flex;
  }

  .home-navigation a:hover{
      color: #043064; 
      font-weight: 700;
    }

  .home-navigation a:active {
      color: #043064; 
      font-weight: 700;
    }  

  .option-projects{
      padding-right: 80px;
  }

  .button {
      margin-top: 20px;
      height: 55px;
      width: 200px;
      background: #0061c9;  
      color: #FFFFFF;
      font-weight: 400;
      font-size: 16px;
      border: #FFFFFF 1px solid;
      padding: 3px 20px;
      cursor: pointer;
  }

  .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
  }
    
  .button:hover span {
      padding-right: 25px;
  }
    
  .button:hover span:after {
      opacity: 1;
      right: 0;
  }

  .button:active {
      background: #043064;
  }

  /*Button project*/
  .button-project {
      background: #0061c9;  
      color: #FFFFFF;
      font-weight: 400;
      font-size: 16px;
      border: #FFFFFF 1px solid;
      padding: 14px 20px;
      cursor: pointer;
      text-align: center;
}

.button-project:hover {
  background-color: #043064;
  /* box-shadow: 0 5px #666;*/
}

.button-project:active {
      background: #043064;
}
/**Button next**/
.button-next {
background: #0061c9;  
color: #FFFFFF;
font-weight: 400;
font-size: 16px;
border: #FFFFFF 1px solid;
padding: 20px 20px;
cursor: pointer;
text-align: center;
}

.button-next:active {
background-color: #043064;
/* box-shadow: 0 5px #666;*/
transform: translateY(4px);
}
.button-next span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: 20vw;
transition: 0.5s;
}


.footer {
      padding: 50px 30px 50px 30px;
      height: 280px;
      font-size: 22px;
}


.social-media-images {
  padding: 10px;
  width: 43px;
  height: 42px;
  margin-right: 20px;

}

.social-media-images-right{
  padding-right: 0;
}
.sticky-header {
  display: contents;
}

h3.margin-top{
  margin-top: 0px;
}
p.copyright-notice{
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

/******Projects ******/
/********* Project title *******/
  
.project-title {
  padding: 0px;
  margin: 0 0 50px 50px;
}

.project-title > h1 {
  margin-bottom: 0.2em;
}

.subtitle{
  font-size: 35px;
  font-weight: 300;
}

/********* Project Description *******/

.project-description-box
{
  padding: 30px 50px 30px 50px;
  height: 350px;
  line-height: 1.5em;
}

.project-tag-boxes{
  margin-top: 10px;
  margin-bottom: 20px;
}

.project-category-tags {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
}

p.tools-used {
  margin-bottom: 10px;
}

.project-info {
  font-size: 16px;
}

.tools-info {
  margin-bottom: 10px;
}

/* Navigation box inside projects */

.sticky-menu-mobile {
  display:none
}

.mobile-menu-container {
  display: none;
}

.desktop-menu-container {
  display: flex;
  flex-direction: column;
}

.sticky-menu {
position: -webkit-sticky; /* Safari */
position: sticky;
top: 30px;
}

.menu-list a:hover{
  color: #0061c9;
  font-weight: 700;
}

.menu-list a:active{
  color: #0061c9;
  font-weight: 700;
}

.project-information-container{
  display: flex;
  flex-direction: row;
  padding: 100px 50px 0 50px;
}

.menu-box {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  width:17%;
  z-index: 10;
}

.information-box {
  display: flex;
  flex-direction: column;
  width: 83%;
}

ul.menu-list  {
  list-style: none; 
  font-family: 'Akkurat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 2.5em;
  text-align: left;
  margin-bottom: 70px;
  margin-right: 30px;
 }

ul.menu-sublist {
  list-style: none; 
  font-family: 'Akkurat', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.5em;
  text-align: left;
}   

ul.menu-sublist li::before { /*::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property.*/
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #F6F6F6; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.5em; /* Also needed for space (tweak if needed) */
}


.project-information-section {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 50px 10px;
  padding: 0 15px 15px 15px;
} 

.next-project {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 40px;
  margin-bottom: 50px;
}

#userflow {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#userflow:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #F6F6F6;  /* Fallback color */
  background-color: #F6F6F6;  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 100vw;
}

/* Add Animation */
.modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #007cff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #007cff;
  text-decoration: none;
  cursor: pointer;
}

/*User flows*/

.userflow-container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 80%;
margin: 20px auto 30px auto;
}

.userflow-image {
width: 650px;
margin-top: 30px;
margin-bottom: 30px;
margin-right: 30px;
}

.user-flow-right {
margin-right:0px;
}

.userflow-image-big {
height: 550px;
margin-top: 30px;
margin-bottom: 30px;
}
/***********/


}

/********************************* LARGE DEVICES - larger than 1200px  **********************************/

@media screen and (min-width: 1200px) and (max-width: 1499px){

  h4.superior-margin{
    margin-top: 40px;
  }
  
  p.bold-grey{
    color:#686868; 
    font-weight: 700;
    font-size: 16px;
  }
  p.bold-blue-link{
    color:#0061c9; 
    font-weight: 700;
    font-size: 18px;
  }
  
  /*****Fonts******/
  h1 {
    font-size: 45px;
    margin-bottom: 35px;
}

h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;

}

h4 {
    font-size: 22px;
    margin-bottom: 15px;

}

.introduction{
    font-size: 55px;
    font-weight: 700;
    color:#010936;
    line-height: 100px;
}

.contact{
    font-size: 25px;
    margin-bottom: 0px;
    line-height: 0em;
    margin-right: 20px;
}

p .contact{
    margin-bottom: 0px;
}
  /***********/
  .header {
      display: block;
      margin: 30px 70px 20px 70px;
      padding: 0px;
      height: 70px;
      width: auto;
  }

  .sticky-header {
      position: static;
      width: auto;
  }

  .navigation-mobile {
      display: none;
  }

  .navigation {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 auto;
  }

  nav ul.home-navigation {
     list-style: none;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     font-family: 'Akkurat', sans-serif;
     font-size: 15px;
     font-weight: 300;
     color:#0061c9;
  }

  .space-right {
    margin-right: 50px;
  }

  .mobile-menu-projects{
    display:none
  }
  
  .desktop-menu-projects{
    display:flex;
  }
  
  .home-navigation a:hover{
      color: #043064; 
      font-weight: 700;
    }

  .home-navigation a:active {
      color: #043064; 
      font-weight: 700;
    } 

  .option-projects{
      padding-right: 80px;
  }

  .button {
      margin-top: 20px;
      height: 60px;
      width: 200px;
      background: #0061c9;  
      color: #FFFFFF;
      font-weight: 400;
      font-size: 16px;
      border: #FFFFFF 1px solid;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.5s;
      text-align: center;
  }

  .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button:hover span {
      padding-right: 25px;
    }
    
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }

    .button:active {
      background: #043064;
    }

  /*Button projects*/ 
.button-project {
  margin-top: 20px;
  background: #0061c9;  
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  border: #FFFFFF 1px solid;
  padding: 20px 20px;
  cursor: pointer;
  transition: all 0.5s;
  text-align: center;
}

.button-project:hover {
  background-color: #043064;
  /* box-shadow: 0 5px #666;*/
}

.button-project:active {
  background: #043064;
} 
/**Button next**/
.button-next {
background: #0061c9;  
color: #FFFFFF;
font-weight: 400;
font-size: 16px;
border: #FFFFFF 1px solid;
padding: 22px 20px;
cursor: pointer;
text-align: center;
}

.button-next:active {
background-color: #043064;
/* box-shadow: 0 5px #666;*/
transform: translateY(4px);
}
.button-next span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: 20vw;
transition: 0.5s;
}

.footer {
padding: 70px 50px 50px 50px;
height: 220px;
font-size: 22px;
height: 300px
}

.social-media-images {
padding: 10px;
width: 43px;
height: 42px;
margin-right: 20px;

}

.social-media-images-right{
padding-right: 0;
}

h3.margin-top{
margin-top: 0px;
}   

/******** Projects *******/

/********* Project title *******/
  
.project-title {
  padding: 0px;
  margin: 0 0 50px 50px;
}

.project-title > h1 {
  margin-bottom: 0.2em;
}


.subtitle{
  font-size: 35px;
  font-weight: 300;
}
/********* Project Description *******/

.project-description-box
{
  padding: 30px 50px 30px 50px;
  height: 350px;
  line-height: 1.5em;
}

.project-tag-boxes{
  margin-top: 10px;
  margin-bottom: 20px;
}

.project-category-tags {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
}

p.tools-used {
  margin-bottom: 10px;
}

.project-info {
  font-size: 16px;
}

.tools-info {
  margin-bottom: 10px;
}

/* Navigation box inside projects */
.sticky-menu-mobile {
  display:none
}

.mobile-menu-container {
  display: none;
}

.desktop-menu-container {
  display: flex;
  flex-direction: column;
}

.sticky-menu {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 30px;
}

.menu-list a:hover{
    color: #0061c9;
    font-weight: 700;
}

.menu-list a:active{
      color: #0061c9;
      font-weight: 700;
}

.project-information-container{
  display: flex;
  flex-direction: row;
  padding: 50px 50px 0 50px;
}

.menu-box {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  width:17%;
  z-index: 10;
}

.information-box {
  display: flex;
  flex-direction: column;
  width: 83%;
}

ul.menu-list  {
  list-style: none; 
  font-family: 'Akkurat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 2.5em;
  text-align: left;
  margin-bottom: 70px;
  margin-right: 50px;
 }

ul.menu-sublist {
  list-style: none; 
  font-family: 'Akkurat', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.5em;
  text-align: left;
}   

ul.menu-sublist li::before { /*::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property.*/
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #F6F6F6; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.5em; /* Also needed for space (tweak if needed) */
}


.project-information-section {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 50px 10px;
  padding: 0 15px 15px 15px;
}  

.next-project {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 70px;
  margin-bottom: 50px;
}
#userflow {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#userflow:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #F6F6F6;  /* Fallback color */
  background-color: #F6F6F6;  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 100vw;
}

/* Add Animation */
.modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #007cff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #007cff;
  text-decoration: none;
  cursor: pointer;
}

/*User flows*/

.userflow-container {
display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
margin: 20px auto 30px auto;
width: 80%;
}

.userflow-image {
width: 800px;
margin-top: 30px;
margin-bottom: 30px;
margin-right: 30px;
}

.user-flow-right {
margin-right:0px;
}
.userflow-image-big {
height: 700px;
margin-top: 30px;
margin-bottom: 30px;
}

p.copyright-notice{
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

}

/********************************* EXTRA LARGE DEVICES - larger than 1500px  **********************************/

@media screen and (min-width: 1500px) {

  h4.superior-margin{
    margin-top: 40px;
  }
  

p.bold-grey{
  color:#686868; 
  font-weight: 700;
  font-size: 16px;
}
p.bold-blue-link{
  color:#0061c9; 
  font-weight: 700;
  font-size: 18px;
}


/******Fonts******/
h1 {
  font-size: 45px;
  margin-bottom: 35px;
}

h2 {
  font-size: 35px;
  margin-bottom: 25px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;

}

h4 {
  font-size: 22px;
  margin-bottom: 15px;

}

.logo{
  font-size: 22px;
  margin-bottom: 0em;
/*    margin: 10px 0px 10px 20px;*/
}

p.logo {
  color:#0061c9;
  line-height: 1em;
  margin-bottom: 0em;
}

.logo-small{
  font-size: 18px;
  color:#0061c9;
  font-style: bold;
  margin-bottom: 0em;
}

.bold-black{
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 0em;
 }

p.logo-small{
  margin-bottom: 0em;
  line-height: 1em;
}
.introduction{
  font-size: 70px;
  font-weight: 700;
  color:#010936;
  line-height: 150px;
}

.contact{
  font-size: 26px;
  margin-bottom: 0px;
  line-height: 0em;
  margin-right: 20px;
}

p .contact{
  margin-bottom: 0px;
}
/****************/
.container-header {
  display: flex;
  flex-direction: column;
  margin: 0px 100px 0px 100px;

}

.header {
  display:block;
  margin: 30px 50px 30px 50px;
  padding: 0px;
  height: 70px;
  width: auto;
}

.sticky-header {
  position: static;
  width: auto;
}

.navigation {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

nav ul.home-navigation {
 list-style: none;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 font-family: 'Akkurat', sans-serif;
 font-size: 22px;
 font-weight: 300;
 color:#0061c9; 
}

.space-right {
  margin-right: 50px;
}
.mobile-menu-projects{
  display:none
}

.desktop-menu-projects{
  display:flex;
}

.home-navigation a:hover{
  color: #043064; 
  font-weight: 700;
}

.home-navigation a:active {
  color: #043064;
  font-weight: 700;
}  

.option-projects{
  padding-right: 80px;
}

.button {
  margin-top: 20px;
  height: 60px;
  width: 220px;
  font-weight: 400;
  font-size: 18px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:active {
  background: #043064;
}

/*Button project*/
.button-project {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 18px 30px;
}

.button-project:hover {
  background-color: #043064;
  /* box-shadow: 0 5px #666;*/
}

.button-project:active {
  background: #043064;
}

/**Button next**/
.button-next {
background: #0061c9;  
color: #FFFFFF;
font-weight: 400;
font-size: 18px;
border: #FFFFFF 1px solid;
padding: 25px 30px;
cursor: pointer;
text-align: center;
}

.button-next:active {
background-color: #043064;
/* box-shadow: 0 5px #666;*/
transform: translateY(4px);
}
.button-next span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: 20vw;
transition: 0.5s;
}

.footer {
margin-left: 50px;
margin-right: 50px;
padding: 70px 50px 50px 50px;
width: auto;
height: 290px;
font-size: 22px;
border-radius: 10px 10px 0 0;
}

.social-media-images {
padding: 10px;
width: 43px;
height: 42px;
margin-right: 20px;

}

.social-media-images-right{
padding-right: 0;
}

h3.margin-top{
margin-top: 0px;
}

/****Projects*****/
#progress-status {
  margin: 50px auto 0 auto;
  width: 94%;
  height: 4px;
  z-index: 1;
}

/********* Project title *******/

.project-title {
padding: 0px;
margin: 0 50px 50px 50px;
}

.project-title > h1 {
margin-bottom: 0.2em;
}

.subtitle{
font-size: 35px;
font-weight: 300;
}

/********* Project Description *******/

.project-description-box
{
padding: 30px 50px 30px 50px;
margin: 0 50px 0 50px;
height: 350px;
width: auto;
line-height: 1.5em;
}

.project-tag-boxes{
margin-top: 10px;
margin-bottom: 20px;
}

.project-category-tags {
font-size: 16px;
font-weight: 700;
padding: 5px 10px 5px 10px;
}

p.tools-used {
margin-bottom: 10px;
}

.project-info {
font-size: 16px;
}

.tools-info {
margin-bottom: 10px;
}

/* Navigation box inside projects */
.sticky-menu-mobile {
display:none
}

.mobile-menu-container {
display: none;
}

.desktop-menu-container {
display: flex;
flex-direction: column;
}

.sticky-menu {
position: -webkit-sticky; /* Safari */
position: sticky;
top: 30px;
}

.menu-list a:hover{
color: #0061c9;
font-weight: 700;
}

.menu-list a:active{
color: #0061c9;
font-weight: 700;
}

.project-information-container{
display: flex;
flex-direction: row;
padding: 100px 50px 0 50px;
}

.menu-box {
display: flex;
flex-direction: column;
margin-top: 0px;
width:17%;
z-index: 10;
}

.information-box {
display: flex;
flex-direction: column;
width: 83%;
}

ul.menu-list  {
list-style: none; 
font-family: 'Akkurat', sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 2.5em;
text-align: left;
margin-bottom: 70px;
margin-right: 50px;
}

ul.menu-sublist {
list-style: none; 
font-family: 'Akkurat', sans-serif;
font-size: 13px;
font-weight: 300;
line-height: 2.5em;
text-align: left;
}   

ul.menu-sublist li::before { /*::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property.*/
content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
color: #F6F6F6; /* Change the color */
display: inline-block; /* Needed to add space between the bullet and the text */
width: 1.5em; /* Also needed for space (tweak if needed) */
}


.project-information-section {
display: flex;
flex-direction: column;
margin: 0px 10px 50px 10px;
padding: 0 15px 15px 15px;
}  

.next-project {
display: flex;
justify-content: flex-end;
align-items: flex-end;
margin-right: 50px;
margin-bottom: 50px;
}
#userflow {
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

#userflow:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1000; /* Sit on top */
padding-top: 0px;
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: #F6F6F6;  /* Fallback color */
background-color: #F6F6F6;  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
margin: auto;
display: block;
width: 100%;
max-width: 100vw;
}

/* Add Animation */
.modal-content {  
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.6s;
animation-name: zoom;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)} 
to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)} 
to {transform:scale(1)}
}

/* The Close Button */
.close {
position: absolute;
top: 15px;
right: 35px;
color: #007cff;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #007cff;
text-decoration: none;
cursor: pointer;
}


/*User flows*/

.userflow-container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 70%;
margin: 20px auto 30px auto;
}

.userflow-image {
width: 800px;
margin-top: 30px;
margin-bottom: 30px;
margin-right: 50px;
}

.user-flow-right {
margin-right:0px;
}

.userflow-image-big {
height: 900px;
margin-top: 30px;
margin-bottom: 30px;
}
/******************/
p.copyright-notice{
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

}