html {
    scroll-behavior: smooth;
  }

h3.margin-increase{
    margin-top: 30px;
}

.project-main-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:300px;
    margin: 0px 10px 10px 10px;
}

.main-image-size {
    width:280px;
    height: auto;
}

.main-image-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 340px;
}


/********* Project Context *******/

.problem-context {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  /*  padding:15px;*/
    justify-content: wrap;
    align-content: center;
    text-align:left;
    width: 100%; /*MOST CHANGE FOR DESKOP VERSION*/
}

/********* Design process *******/

/*Suvey insights*/

.survey-insights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.survey-images {
    height: 200px;
    margin-bottom: 20px;
}

.survey-info {
    text-align: center;
}

ul.project-lists  {
    list-style: none; 
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    text-align: left;
    margin-bottom: 50px;
   }

ul.project-lists li::before { /*::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property.*/
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #414141;; /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1.5em; /* Also needed for space (tweak if needed) */
}

.persona-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto 70px auto;
    width: 100%;
  }
  
  .persona-image {
    width: 300px;
  /*  margin-top: 30px;
    margin-bottom: 30px;*/
  }
/*Competitive analysis*/
.competitive-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto 70px auto;
    width: 100%;
  }
  
  .competitive-image {
    width: 300px;
  /*  margin-top: 30px;
    margin-bottom: 30px;*/
  }

/*User journey*/

.user-journey-image-mobile {
    width: 300px;
}

.user-journey-mobile-container { /*Set display as none for desktop version*/
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.user-journey-desktop-container { /*Set display as flex for desktop version*/
    display:none;
}

.sitemap-container { /*Set display as none for desktop version*/
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

/*Information architecture - site map*/

.sitemap-image {
    width: 300px;
}

/*Key features*/

.keyfeatures-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 80px;
    margin: 0 auto 0 auto;
}

.keyfeature-image {
    width: 290px;
}


/*User flows*/

ol.project-ordered-lists  {
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
   }

/*Color palette*/

.color-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.color-font {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px rgba(235,235,235,1);
    height: 100px;
    width: 130px;
}

.color-font p{
    margin-bottom: 0;
    font-weight: 700;
}

.firstcolor-box{
    background: #262626;
    color: #FFFFFF;
}

.secondcolor-box {
    background: #0F1C7D;
    color: #FFFFFF;

}

.thirdcolor-box{
    background: #8189BE;
    color: #FFFFFF;
}

.fourthcolor-box{
    background: #E0E4FF;
}

.fifthcolor-box{
    background: #FAFAFA;
    margin-bottom: 0;
}

/*fonts*/

.fonts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.fonts-box {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 0px rgba(235,235,235,1);
}

.font-image{
    width: 70px;
    height: auto;
}

/*Mockups*/
/* Slideshow container */

.mockup-background{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 310px;
    height: 501px;
}

/***********************/

.mockups-container {
    display: none;
}

.mockups-image {
    width: 300px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mockups-image-p {
    width: 300px;
    height: auto;
    margin-top: 30px;
}

.mockups-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Prototype*/

.prototype {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
}
.prototype-box {
    margin-bottom: 70px;
}

/*Testing*/

.testing-mobile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
}

.testing-mobile-image {
    width: 310px;
}

.testing-desktop-container {
    display: none;
}

.testing-desktop-image {
    width: 310px;
}

/*Outcome*/

.outcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding: 30px 15px 30px 15px;
    background: rgba(0, 97, 201, 0.2);
    height:auto;
    margin-bottom: 20px;
}

.outcome-information {
 /*   margin-top: 70px;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.outcome-information h1 {
    margin-bottom: 30px;
    line-height: 1em;
}

ul.project-lists-outcomes {
    margin-bottom: 0px;
    list-style: none; 
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    text-align: left;
}

ul.project-lists-outcomes li::before { /*::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property.*/
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #414141;; /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1.5em; /* Also needed for space (tweak if needed) */
}

/*Project gallery*/

.project-gallery-container {
    margin: 50px 15px 70px 15px;
}

.pictures-icons-container {
    margin: 50px 15px 70px 15px;
}

.gallery-container {
    margin: 50px 15px 70px 15px;
}

.gallery-container-photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0 30px 0;
    border-radius: 10px;
    border: solid 1px #6B6C6E;
    background: #FFFFFF;
    height: 200px;
    width: 250px;
}

.gallery-image {
    width: 220px;
    height: 150px;
    cursor:pointer;
}

ul.nested-list {
    margin-left: 50px;
}   

ul.nested-list li::before { /*::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property.*/
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #000000; /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1.5em; /* Also needed for space (tweak if needed) */
}

.design-process-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 100px;
    margin: 0 auto 0 auto;
}

.design-process-image {
    width: 290px;
}

/* Next project gallery*/

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px;
}

.next-project-gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-image-box {
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

.project-picture {
    position: relative;
    width: 100%;  
    border-radius: 10px;
}

.project-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(180deg, rgba(4,48,100,0.5) 35%, rgba(0,124,255,1) 100%);
    border-radius: 10px;
}

.project-picture:hover .overlay {
    opacity: 1;
  }

.text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


/******************************************** TABLET ********************************************/
@media screen and (min-width: 767px) and (max-width: 990px) {

    /********* Top images *******/
    
.gallery {
    margin: 35px;
}
    .project-main-images {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: auto;
        margin: 0px 35px 10px 35px;
    }
        
    .main-image-size {
        width:auto;
    }
        
    .main-image-background {
        padding: 30px;
        height: auto;
        width: 680px;
    }
           
/********* Design process *******/

/*Suvey insights*/
.survey-images {
    height: 250px;
    margin-bottom: 50px;
}

/*User persona*/
.persona-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px auto 70px auto;
  }
  
  .persona-image {
    width: 600px;
  /*  margin-top: 50px;
    margin-bottom: 50px;*/
  }

/*Competitive analysis*/
.competitive-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px auto 70px auto;
  }
  
  .competitive-image {
    width: 600px;
  /*  margin-top: 50px;
    margin-bottom: 50px;*/
  }
/*User journey*/

.user-journey-image-mobile {
    width: 450px;
}

.user-journey-mobile-container { /*Set display as none for desktop version*/
    margin-bottom: 50px;
    margin-top: 50px;
}

.sitemap-container { /*Set display as none for desktop version*/
    margin-bottom: 30px;
    margin-top: 20px;
}

/*Information architecture - site map*/

.sitemap-image {
    width: 600px;
}

/*Key features*/

.keyfeatures-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 150px;
    margin: 0 auto 0 auto;
}

.keyfeature-image {
    width: 500px;
}
/*Color palette*/

.color-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.color-font {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px rgba(235,235,235,1);
    height: 100px;
    width: 130px;
}

.color-font p{
    font-size: 20px;
}

.thirdcolor-box{
    margin-bottom: 30px;
}

/*fonts*/

.fonts-container {
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.mockups-image {
    width: 500px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.mockups-image-p {
    width: 500px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.mockups-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mockup-background{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 450px;
    height: 751px;
}

.slideshow-container {
    width: 450px;
    margin: 50px auto 50px auto;
}


/*Prototype*/

.prototype {
    font-size: 30px;
}
.prototype-box {
    margin-top: 50px;
    margin-bottom: 90px;
}

/*Testing*/
.testing-desktop-container {
    display: none;
}

.testing-mobile-image {
    width: 400px;
}

.outcome-container {
    padding: 50px 35px 50px 35px;
    height:auto;
    margin-bottom: 20px;
}

ul.project-lists-outcomes {
    font-size: 16px;
    line-height: 1.5em;
}

ul.project-lists-outcomes li {
    margin-bottom: 15px;
}

.project-gallery-container {
    margin: 50px 35px 70px 35px;
}

.pictures-icons-container {
    margin: 50px 35px 70px 35px;
}

/*Project gallery*/

.gallery-container {
    margin: 50px 35px 70px 35px;
}

.gallery-container-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
/*    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;*/
    margin: 0 auto;
    width: 600px;
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px #6B6C6E;
    margin: 0 50px 50px 0;
    height: 200px;
    width: 250px;
    background: #FFFFFF;
}

.gallery-image {
    width: 200px;
}

.gallery-box-right {
    margin: 0 0 50px 0;
    border: solid 1px #6B6C6E;
}
.design-process-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    margin: 0 auto 0 auto;
}

.design-process-image {
    width: 500px;
}

}


/******************************* MEDIUM DEVICES - larger than 991 px *****************************/

@media screen and (min-width: 991px) and (max-width: 1199px) {
    
        /********* Top images *******/
        
        .project-main-images {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height:300px;
            margin: 0px 50px 50px 50px;
        }
        
        .main-image-background {
            padding: 20px 25px 20px 25px;
            height: auto;
            width: 500px;
        }
    /********* Project Context *******/

.problem-context {
    width: 85%; /*MOST CHANGE FOR DESKOP VERSION*/
}

.fit-text {
    width: 85%;
}

.survey-insights {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.survey-images {
    height: 170px;
    margin-bottom: 50px;
}


/*User persona*/
.persona-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 30px auto 70px auto;
}
    
.persona-image {
    width: 650px;
 /*   margin-top: 30px;
    margin-bottom: 30px;*/
    margin-right: 30px;
}

/*Competitive analysis*/
.competitive-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 30px auto 70px auto;
}
    
.competitive-image {
    width: 650px;
 /*   margin-top: 30px;
    margin-bottom: 30px;*/
    margin-right: 30px;
}
/*User journey*/

.user-journey-mobile-container { /*Set display as none for desktop version*/
    display:none;
}

.user-journey-desktop-container { /*Set display as flex for desktop version*/
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.user-journey-image-desktop{
    width: 100%;
}

/*Information architecture - site map*/

.sitemap-container { /*Set display as flex for desktop version*/
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.sitemap-image {
    width: 80%;
}

/*Key features*/

.keyfeatures-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 150px;
    margin: 0 auto 0 auto;
}

.keyfeature-image {
    width: 500px;
}

/*Color palette*/

.color-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.color-font {
    height:90px;
    width: 120px;
}

.color-font p{
    font-size: 20px;
}

.fifthcolor-box{
    margin-bottom: 30px;
}

/*fonts*/

.fonts-container {
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

/*Mockups*/

.slideshow-container {
    display: none;
}

.status-slideshow {
    display: none;
}

.mockups-container {
    display: none;
}

.mockups-image {
    width: 500px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 20px;
}

.mockups-image-p {
    width: 500px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 20px;
}

.mockups-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Prototype*/

.prototype {
    font-size: 30px;
}
.prototype-box {
    margin-bottom: 70px;
}

/*Testing*/

.testing-mobile-container {
    display: none;
}

.testing-desktop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.testing-desktop-image {
    width: 80%;
}

/*Outcome*/

.outcome-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 50px 50px 50px;
    width: 100%; 
    margin: 0 auto;
    height: auto;
    margin-bottom: 20px;
}

.outcome-information h1 {
    margin-bottom: 50px;
}

ul.project-lists-outcomes {
    font-weight: 300;
    line-height: 2em;
}

ul.project-lists-outcomes li::before { /*::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property.*/
    width: 1.5em; /* Also needed for space (tweak if needed) */
}

/*Project gallery*/

.project-gallery-container {
    margin: 50px 0 70px 0;
}

.pictures-icons-container {
    margin: 50px 0 70px 0;
}


.gallery-container {
    margin: 50px 0 0 0;
}

.gallery-container-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px 0;
    border-radius: 10px;
    border: solid 1px #6B6C6E;
    height: 180px;
    width: 240px;
    text-align: center;
    background: #FFFFFF;

}

.gallery-image {
    width: 220px;
    height: 130px
}

.design-process-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 250px;
    margin: 0 auto 0 auto;
}

.design-process-image {
    width: 620px;
}
/* Next project gallery*/

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px;
}

.next-project-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-image-box {
    height: auto;
    width: auto;
    margin-right: 20px;
}

.project-picture {
    position: relative;
    width: 100%;  
    border-radius: 10px;
}

.project-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(180deg, rgba(4,48,100,0.5) 35%, rgba(0,124,255,1) 100%);
    border-radius: 10px;
}

.project-picture:hover .overlay {
    opacity: 1;
  }

.text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/********************************* LARGE DEVICES - larger than 1200px  **********************************/

@media screen and (min-width: 1200px) and (max-width: 1499px){
    
        /********* Top images *******/

        .project-main-images {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height:380px;
            margin: 0px 50px 50px 50px;
        }
        
        .wrapper {
            margin-right: auto; 
            margin-left:  auto; 
        }
        
        .main-image-background {
            padding: 20px 25px 20px 25px;
            height: auto;
            width: 600px;
        }
        
    /********* Project Context *******/

.problem-context {
    width: 80%; /*MOST CHANGE FOR DESKOP VERSION*/
}

.fit-text {
    width: 80%;
}

.survey-insights {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.survey-images {
    height: 180px;
    margin-bottom: 50px;
}


/*User persona*/

.persona-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
    margin: 30px auto 70px auto;
    width: 80%;
}
    
.persona-image {
    width: 800px;
    margin-right: 30px;
}

/*Competitive analysis*/

.competitive-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
    margin: 30px auto 70px auto;
    width: 80%;
}
    
.competitive-image {
    width: 800px;
    margin-right: 30px;
}
/*User journey*/
.user-journey-mobile-container { /*Set display as none for desktop version*/
    display:none;
}

.user-journey-desktop-container { /*Set display as flex for desktop version*/
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 30px;
}

.user-journey-image-desktop{
    width: 100%;
}

/*Information architecture - site map*/

.sitemap-container { /*Set display as flex for desktop version*/
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.sitemap-image {
    width: 75%;
}

/*Key features*/

.keyfeatures-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 180px;
    margin: 0 auto 0 auto;
}

.keyfeature-image {
    width: 650px;
}

/*Color palette*/

.color-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin: 20px auto 0px auto;
    width: 70%;
}

.color-font {
    height: 70px;
    width: 110px;
}

.color-font p{
    font-size: 16px;
}

.fifthcolor-box{
    margin-bottom: 30px;
}

/*fonts*/

.fonts-container {
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin: 20px auto 0px auto;
    width: 70%;

}

/*Mockups*/

.slideshow-container {
    display: none;
}

.status-slideshow {
    display: none;
}

.mockups-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mockups-image {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 20px;
}

.mockups-image-p {
    width:550px;
    margin-top: 30px;
}

.mockups-container-mobile {
    display: none;
}

/*Prototype*/

.prototype {
    font-size: 30px;
}
.prototype-box {
    margin-bottom: 70px;
}

/*Testing*/

.testing-mobile-container {
    display: none;
}

.testing-desktop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.testing-desktop-image {
    width: 600px;
    margin: 0 auto;
}

/*Outcome*/

.outcome-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 50px 50px 50px;
    width: 100%; 
    margin: 0 auto;
    height: auto;
    margin-bottom: 20px;
}

.outcome-information h1 {
    margin-bottom: 50px;
}

ul.project-lists-outcomes {
    font-weight: 300;
    line-height: 2em;
}

ul.project-lists-outcomes li::before { /*::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property.*/
    width: 1.5em; /* Also needed for space (tweak if needed) */
}

/*Project gallery*/

.project-gallery-container {
    margin: 50px 0 70px 0;
}

.pictures-icons-container {
    margin: 50px 0 0px 0;
}


.gallery-container {
    margin: 50px 0 0 0;
}

.gallery-container-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px 0;
    border-radius: 10px;
    border: solid 1px #6B6C6E;
    height: 180px;
    width: 300px;
    text-align: center;
}

.gallery-image {
    width: 260px;
    height: 130px;
}
.design-process-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 300px;
    margin: 0 auto 0 auto;
}

.design-process-image {
    width: 800px;
}
/* Next project gallery*/

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px;
}

.next-project-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-image-box {
    height: auto;
    width: auto;
    margin-right: 20px;
}

.project-picture {
    position: relative;
    width: 100%;  
    border-radius: 10px;
}

.project-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(180deg, rgba(4,48,100,0.5) 35%, rgba(0,124,255,1) 100%);
    border-radius: 10px;
}

.project-picture:hover .overlay {
    opacity: 1;
  }

.text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

}

/********************************* EXTRA LARGE DEVICES - larger than 1400px  **********************************/

@media screen and (min-width: 1500px) {

    /********* Top images *******/

    .project-main-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height:500px;
    max-width: 1300px;
    }
    
    .main-image-background {
    padding: 20px 25px 20px 25px;
    height: auto;
    width: 700px;
    }
        /********* Project Context *******/

.problem-context {
    width: 70%; /*MOST CHANGE FOR DESKOP VERSION*/
}

.fit-text {
    width: 70%;
}

.survey-insights {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.survey-images {
    height: 200px;
    margin-bottom: 50px;
}


/*User persona*/
.persona-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 30px auto 70px auto;
    }
    
.persona-image {
    width: 800px;
 /*   margin-top: 30px;
    margin-bottom: 30px;*/
    margin-right: 50px;
}
/*Competitive container*/
.competitive-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 30px auto 70px auto;
    }
    
.competitive-image {
    width: 800px;
 /*   margin-top: 30px;
    margin-bottom: 30px;*/
    margin-right: 50px;
}
/*User journey*/


.user-journey-mobile-container { /*Set display as none for desktop version*/
    display:none;
}

.user-journey-desktop-container { /*Set display as flex for desktop version*/
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 30px;
}

.user-journey-image-desktop{
    width: 100%;
}

/*Information architecture - site map*/

.sitemap-container { /*Set display as flex for desktop version*/
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.sitemap-image {
    width: 70%;
}

/*Key features*/
.keyfeatures-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 200px;
    margin: 0 auto 0 auto;
}

.keyfeature-image {
    width: 750px;
}

/*Color palette*/

.color-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 80%;
    margin: 20px auto 0 auto;
}

.color-font {
    height: 90px;
    width: 120px;
}

.color-font p{
    font-size: 16px;
}

.fifthcolor-box{
    margin-bottom: 30px;
}

/*fonts*/

.fonts-container {
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 60%;
    margin: 20px auto 0px auto;
}

/*Mockups*/

.slideshow-container {
    display: none;
}

.status-slideshow {
    display: none;
}

.mockups-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mockups-image {
    width: 450px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 40px;
}

.mockups-image-p{
    width: 650px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.mockups-container-mobile {
    display: none;
}

/*Prototype*/

.prototype {
    font-size: 30px;
}
.prototype-box {
    margin-bottom: 70px;
}

/*Testing*/

.testing-mobile-container {
    display: none;
}

.testing-desktop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.testing-desktop-image {
    width: 50%;
    margin: 0 auto;
}

/*Outcome*/

.outcome-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 50px 50px 50px;
    width: 100%; 
    margin: 0 auto;
    height: auto;
    margin-bottom: 20px;
}

.outcome-information h1 {
    margin-bottom: 50px;
}

ul.project-lists-outcomes {
    font-weight: 300;
    line-height: 2em;
}

ul.project-lists-outcomes li::before { /*::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property.*/
    width: 1.5em; /* Also needed for space (tweak if needed) */
}

/*Project gallery*/

.project-gallery-container {
    width: 60%;
    margin: 50px auto 70px auto;
}

.pictures-icons-container {
    margin: 50px 0 0px 0;
}


.gallery-container {
    width: 100%;
    margin: 50px auto 0 auto;
}

.gallery-container-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px 0;
    border-radius: 10px;
    border: solid 1px #6B6C6E;
    height: 200px;
    width: 320px;
    text-align: center;
    background: #FFFFFF;

}

.gallery-image {
    width: 300px;
    height: 160px;
}

.design-process-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    margin: 0 auto 0 auto;
}

.design-process-image {
    width: 1000px;
}

/* Next project gallery*/

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px;
}

.next-project-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-image-box {
    height: auto;
    width: auto;
    margin-right: 20px;
}

.project-picture {
    position: relative;
    width: 100%;  
    border-radius: 10px;
}

.project-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(180deg, rgba(4,48,100,0.5) 35%, rgba(0,124,255,1) 100%);
    border-radius: 10px;
}

.project-picture:hover .overlay {
    opacity: 1;
  }

.text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}